/* Mulish font form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

/* header style */

header{
    max-width: 1170px;
    margin: 0 auto;
}
.king-container{
    background: #FFF;  
}

.container{
    display: flex;
    gap: 10px;
}
.king-container p{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
p span{
    color: #FF5400;
}
.king-container{
    display: flex;
    justify-content: space-between;
}
.king-container ul{
    display: flex;
}
.king-container li{
    color: #424247;
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem
}
li span{
    color: #FF5400;
}
/* banner style */

.banner{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    text-align: center; 
    background-repeat: no-repeat;

}

.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 400px;
}

.banner-content p{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.button-style{
    padding: 48px 320px 122px 320px;
    color: rgba(19, 19, 24, 0.50)
    font-weight: 400;   
}

.button-style{
    gap: 50px;
    height: 52px;
    flex-shrink: 0;
}

.btn-primary{
    color: #FFF;
    background: #FF5400;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    
}

/* Popular-content style */

.Popular-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.Popular-content{
    padding: 100px 0 0 0;
}
.tours-content h1{
    color: #131318;
    font-size: 40px
    font-weight: 800;
}

.tours-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.button-color{
    color: #FFF;
    width: 120px;
    height: 40px;
    background: #FF5400;
}

/* main style start */

.destination{
    text-align: center;
}
.destination h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.destination p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
   
/* seven images style */

.seven-img{
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}   
 /* chose us style */

 .choose-items{
    max-width: 1170px;
    margin: 0 auto;
 }
 .small-content{
    text-align: center;
 }
.small-content h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.small-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.two-option{
    display: flex;
   
}

.first-one{
    width: 575px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 0 48px 24px 0 ;

}
.second-one{
    width: 575px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 0 48px 24px 0 ;
}
.one-option{
    width: 573px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05); 
}

/* Deals & Discounts */

.deals-discount{
    max-width: 1170px;
    margin: 0 auto;
}
.discount-title{
    text-align: center;
   
}
.discount-title span{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.tour-satarini-one{
    background-image: url(../Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    text-align: right;
}

.tour-satarini-two{
    background-image: url(../Images/Group\ 40.png);
    width: 1170px;
    height: 500px;
    text-align: left;
}
.tour-satarini-three{
    background-image: url(../Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
    text-align: right;
}
.footer-btn{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 800;
}
/* Simple Perfect Place  */

.perfect-container{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
    gap: 28px;
}

.simple-place h1{
    color: #131318;
    width: 448px;
    line-height: 26px;
}
.watch-bangladesh{
    background-image: url(../Images/Rectangle\ 11.png);
    width: 610px;
    height: 424px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
    
   
.watch-bangladesh h2{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    width: 276px;
    text-align: center;
}

/* footer section */
.Newsletter-image{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    gap: 50px;
}
.travel-com{
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    width: 250px;
    height: 80px;  
    padding: 35px;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 100px; 
}
.travel-com h3{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.travel-com p{
    font-size: 32px;
    font-weight: 800;
}
.footer-column-one{
    width: 474px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px 41px
    
}
.footer-column-one h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.footer-column-one p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    display: block;
    margin-bottom: 16px;
    width: 393px;
    height: 52px;
    text-align: left;
}
.footer-column-one span{
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    background: #FF5400;
}

/* footer style*/
.moral-part h2{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}
.moral-part h2 span{
    color: #FF5400;
}

.footer-section{
    width: 1440px;
    height: 502px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.icon-section{
    height: 24px;
    gap: 23px;
}


/* small (mobile-device & media) responsive */
@media screen and (max-width:600px) {
    .king-container ul{
        display: block;
    }
    .Popular-content{
        display:block;
        justify-content: space-between;
        gap: 50px;
}
.perfect-container{
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
    gap: 28px;
}
.Newsletter-image{
    display: block;
}
.footer-column-one{
    width: 300px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px 41px;
}
.btn{
    display: block;
    margin-bottom: 16px;
    width: 300px;
    height: 52px;
}
.footer-column-two img{
    width: 400px;
}
.footer-section{
    width: 440px;
    height: 600px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    
}

}
